@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-reuslt-main-ui {
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
  .zmiti-reuslt-main-ui.show {
    opacity: 1; }

.zmiti-card {
  width: 9.6rem;
  top: .3rem;
  border-radius: 0.4rem;
  position: absolute;
  left: .2rem;
  z-index: 10;
  -webkit-transform-origin: center 25%;
  transform-origin: center 25%;
  -webkit-transform: scale(1);
  transform: scale(1); }
  .zmiti-card.active {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
    .zmiti-card.active:before {
      content: "长按保存图片";
      position: absolute;
      width: .5rem;
      bottom: 0;
      right: -.5rem;
      color: #d3292e; }
  .zmiti-card .zmiti-canvas {
    position: absolute;
    left: .5rem;
    top: 0; }

.zmiti-card1 {
  -webkit-transform: scale(2) !important;
  opacity: 0;
  z-index: 1;
  top: 5rem;
  left: 5rem; }
  .zmiti-card1:before {
    display: none; }

.zmiti-reload {
  position: absolute;
  width: 3rem;
  color: #fff;
  line-height: .9rem;
  text-align: center;
  left: 3.5rem;
  bottom: 2rem; }
  .zmiti-reload img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0; }

.zmiti-result-img {
  position: relative;
  width: 6rem;
  top: .4rem;
  left: 0; }

.zmiti-star {
  position: absolute;
  width: 7.6rem;
  left: 1rem;
  top: 2.5rem;
  -webkit-animation: star 0.8s 4s infinite alternate;
  animation: star 0.8s 4s infinite alternate; }

@-webkit-keyframes star {
  to {
    opacity: 0; } }
.zmiti-result-btns {
  width: 8rem;
  position: absolute;
  left: 1rem;
  bottom: 2.3rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  text-align: center;
  color: #d3292e; }
  .zmiti-result-btns > div {
    text-align: center;
    -webkit-box-flex: 1;
    margin: 0 10px;
    line-height: .8rem;
    position: relative;
    border-radius: 0.2rem;
    color: #fff; }
    .zmiti-result-btns > div img {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0; }
    .zmiti-result-btns > div:nth-of-type(1) {
      width: 2rem; }
    .zmiti-result-btns > div:nth-of-type(2) {
      width: 3.5rem; }
    .zmiti-result-btns > div.active {
      -webkit-transform: translate3d(0, 2px, 0);
      transform: translate3d(0, 2px, 0); }
      .zmiti-result-btns > div.active:before {
        display: none; }
    .zmiti-result-btns > div:before {
      display: none;
      border-radius: 0.2rem;
      overflow: hidden;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0; }

.zmiti-cache-img {
  width: auto;
  height: auto; }

.zmiti-reuslt-main {
  position: absolute;
  width: 8.6rem;
  left: .5rem;
  top: 0rem;
  height: 11rem;
  -webkit-transform: translate3d(0, 6rem, 0);
  transform: translate3d(0, 6rem, 0);
  opacity: 0;
  -webkit-transition: -webkit-transform 3s linear 1s;
  transition: -webkit-transform 3s linear 1s;
  transition: transform 3s linear 1s;
  transition: transform 3s linear 1s, -webkit-transform 3s linear 1s; }
  .zmiti-reuslt-main.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .zmiti-reuslt-main.hideline .zmiti-badge:before, .zmiti-reuslt-main.hideline .zmiti-badge:after {
    opacity: 0;
    -webkit-transition: 1s 4.2s;
    transition: 1s 4.2s; }
  .zmiti-reuslt-main.lantern-up .zmiti-lantern1, .zmiti-reuslt-main.lantern-up .zmiti-lantern {
    -webkit-transform: translate3d(0, 0rem, 0);
    transform: translate3d(0, 0rem, 0); }

.zmiti-lantern1, .zmiti-lantern {
  top: .4rem; }

.zmiti-lantern1 {
  position: absolute;
  width: 1.2rem;
  left: 0; }
  .zmiti-lantern1 img {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.zmiti-lantern {
  position: absolute;
  width: 1.5rem;
  right: 0; }

.zmiti-result-level {
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.zmiti-badge {
  width: 6rem;
  left: 0;
  top: 0rem;
  position: relative;
  -webkit-transform: translate3d(0, 0.6rem, 0);
  transform: translate3d(0, 0.6rem, 0);
  z-index: 450; }
  .zmiti-badge.clip {
    top: 5rem; }
  .zmiti-badge:after, .zmiti-badge:before {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 2.8rem;
    background: #ccc;
    bottom: 1rem;
    left: .5rem;
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; }
  .zmiti-badge:after {
    right: .5rem;
    left: auto;
    height: 3rem;
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg); }
  .zmiti-badge span {
    color: #8e6b17;
    font-weight: bold;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 1rem; }

.zmiti-share-mask {
  z-index: 100;
  background: rgba(0, 0, 0, 0.7); }
  .zmiti-share-mask img {
    width: 5rem;
    position: absolute;
    right: .4rem;
    top: .2rem; }

.zmiti-headimg {
  position: relative;
  width: 4.2rem;
  z-index: 0;
  height: 4.2rem;
  border-radius: 50%;
  top: 1rem;
  left: 2.2rem; }
  .zmiti-headimg > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden; }
  .zmiti-headimg .zmiti-shadow {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.zmiti-result-copyright {
  position: absolute;
  width: 100%;
  bottom: .3rem; }

.zmiti-logo {
  width: 8rem;
  font-size: 12px;
  color: #5f5f5f;
  text-align: center;
  margin: 0 auto 0; }
  .zmiti-logo img {
    width: 1rem; }

.zmiti-sentime-logo {
  position: absolute;
  bottom: .5rem;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 12px; }
  .zmiti-sentime-logo img {
    width: 1.4rem; }

@media all and (max-height: 563px) and (max-width: 375px) {
  .zmiti-result-btns {
    bottom: 1.6rem; }

  .zmiti-card {
    top: -.2rem; } }
@media all and (max-height: 560px) and (max-width: 360px) {
  .zmiti-card {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: center 15%;
    transform-origin: center 15%; }
    .zmiti-card.active {
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }

  .zmiti-result-btns {
    bottom: 1.9rem; }

  .zmiti-card {
    top: 0rem; } }
@media all and (max-height: 460px) and (max-width: 320px) {
  .zmiti-result-btns {
    bottom: 1.6rem; }

  .zmiti-card {
    top: -.2rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center 25%;
    transform-origin: center 25%; }
    .zmiti-card.active {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); } }

/*# sourceMappingURL=result.css.map */